{{ define "main" }}
<header class="mb-3">
    <hgroup id="blog-heading">
        <h1>{{ .Title }}</h1>
        {{ if .Params.Subtitle }}
        <p>{{ .Params.Subtitle }}</p>
        {{ end }}
        <p>
            <small class="muted-text">Published: <time>{{- dateFormat "02 Jan 06 15:04 MST" .Date.Local -}}</time></small>
            {{- if .Lastmod }}
            {{- if ne .Lastmod .Date }}
            <small class="muted-text">Last updated: <time>{{- dateFormat "02 Jan 06 15:04 MST" .Lastmod.Local -}}</time></small>
            {{- end }}
            {{- end }}
        </p>
    </hgroup>
    {{ if gt .Params.tags 0 }}
    <ul id="tags" class="list-inline">
        <li class="list-inline-item">
            <a href="/tags/" title="View all tags">
                {{ readFile "static/icons/tag.svg" | safeHTML }}
            </a>
        </li>
        {{ range .Params.tags }}
        <li class="list-inline-item">
            <code><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ lower . }}</a></code>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ .TableOfContents }}
</header>
<article>
    {{ .Content }}
</article>
<a href="#" id="back-to-top" data-tooltip="Scroll to top" aria-label="scroll back to top">{{ readFile "static/icons/arrow-up-circle.svg" | safeHTML }}</a>
<hr>
<div id="giscus-comments-container"></div>
<script>
    // Determine the initial theme based on system preference
    let isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

    // --- GISCUS SCRIPT ---
    // This part dynamically creates the Giscus script tag
    const giscusScript = document.createElement('script');
    giscusScript.src = 'https://giscus.app/client.js';
    giscusScript.setAttribute('data-repo', 'priyavrat-misra/personal-website');
    giscusScript.setAttribute('data-repo-id', 'R_kgDOHXZkKg');
    giscusScript.setAttribute('data-category', 'Announcements');
    giscusScript.setAttribute('data-category-id', 'DIC_kwDOHXZkKs4Ccjrk');
    giscusScript.setAttribute('data-mapping', 'pathname');
    giscusScript.setAttribute('data-strict', '0');
    giscusScript.setAttribute('data-reactions-enabled', '1');
    giscusScript.setAttribute('data-emit-metadata', '0');
    giscusScript.setAttribute('data-input-position', 'top');
    giscusScript.setAttribute('data-theme', isDarkMode ? 'dark_dimmed' : 'light');
    giscusScript.setAttribute('data-lang', 'en');
    giscusScript.setAttribute('data-loading', 'lazy');
    giscusScript.setAttribute('crossorigin', 'anonymous');
    giscusScript.async = true;
    document.getElementById('giscus-comments-container').appendChild(giscusScript);
    // --- END GISCUS SCRIPT ---

    // --- EVENT LISTENER FOR THE TOGGLE ---
    document.getElementById('dark')?.addEventListener('change', () => {
        isDarkMode = !isDarkMode;
        const giscusFrame = document.querySelector('iframe.giscus-frame');
        giscusFrame?.contentWindow.postMessage({ giscus: { setConfig: { theme: isDarkMode ? 'dark_dimmed' : 'light' } } }, giscusFrame.src);
    });

</script>
<noscript>Please enable JavaScript to view the comments powered by Giscus.</noscript>
{{ end }}