{{ define "main" }}
<header class="mb-3">
    <h2 class="mb-0">{{ .Title }}</h2>
    {{ if .Params.Subtitle }}
    <aside>{{ .Params.Subtitle }}</aside>
    {{ end }}
    <small class="text-muted">Published: {{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</small>
    {{- if .Lastmod }}
    {{- if ne .Lastmod .Date }}
    <small class="text-muted">Last updated: {{ dateFormat "02 Jan 06 15:04 MST" .Lastmod.Local }}</small>
    {{- end }}
    {{- end }}
    {{ if gt .Params.tags 0 }}
    <br class="d-md-none">
    <small>
        <i class="fas fa-tags fa-xs ml-1"></i>
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="badge badge-secondary text-decoration-none">{{ . }}</a>
        {{ end }}
    </small>
    {{ end }}
    {{ .TableOfContents }}  
</header>
<article>
    {{ .Content }}
</article>
<button onclick="location.href='#'" type="button" class="back-to-top btn btn-link btn-sm" aria-label="scroll back to top">
    Back to top
    <span class="fas fa-long-arrow-alt-up" aria-hidden="true"></span>
</button>
<hr>
<script src="https://giscus.app/client.js"
        data-repo="priyavrat-misra/personal-website"
        data-repo-id="R_kgDOHXZkKg"
        data-category="Announcements"
        data-category-id="DIC_kwDOHXZkKs4Ccjrk"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
