<header class="container mt-4">
    <div class="row">
        <div class="col-sm-4 col-12 text-sm-end text-center pt-sm-4">
            <a href="/" class="text-decoration-none">
                <img id="avatar"
                     height="120"
                     width="120"
                     alt="Profile Picture"
                     src="/images/avatar/120x120.webp"
                     srcset="/images/avatar/120x120.webp 1x, /images/avatar/180x180.webp 2x">
            </a>
        </div>
        <div class="col-sm-8 col-12 text-sm-start text-center">
            <hgroup>
                <h1 class="mb-2 mt-4">
                    <a href="/" class="text-decoration-none">
                        {{ .Site.Params.header_title }}
                    </a>
                </h1>
                <p class="muted-text subtitle" aria-hidden="true"></p>
                <p class="sr-only">{{ .Site.Params.header_subtitle }}</p>
            </hgroup>
            <nav aria-label="Socials">
                <ul class="list-inline">
                    {{ range .Site.Params.social }}
                    <li class="list-inline-item">
                         <a href="{{ .url }}" title="{{ .title }}" target="_blank">
                            {{ readFile (print "static" .icon) | safeHTML }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <nav aria-label="Menu">
                <ul class="list-inline">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="list-inline-item">
                        <strong><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></strong>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="theme-toggle-container">
        <input id="dark" class="sr-only" type="checkbox" role="switch" aria-label="Switch between light and dark theme.">
        <label id="theme-toggle" title="Toggle theme" for="dark" aria-hidden="true">
            {{ readFile "static/icons/moon.svg" | safeHTML }}
            {{ readFile "static/icons/sun.svg" | safeHTML }}
        </label>
    </div>
    <hr>
</header>
