<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <div id="content" class="mx-auto">
            {{- partial "header.html" . -}}
            <main class="container">
                <div class="ms-sm-4 me-sm-4 text-center">
                    <strong class="display-6 text-danger">404 Not Found</strong>
                    <p>The page you're looking for doesn't exist.</p>
                </div>
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
